<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
 <body background = "static/swirl_pattern" style="background-attachment:fixed">
   <form method="POST">
     <input type="text" name="amount" placeholder = "Amount">
     <input type="text" name="year" placeholder = "Year">
     <input type="text" name="item" placeholder = "What to Buy">
     <button type="submit" name="b" value="Submit">Submit</button>
     <button type="submit" name="b" value="Update">Update</button>
     <button type="submit" name="b" value="News">Currency News</button>
     <button type="submit" name="b" value="Logout">Logout</button>
     </form>
   </body>
</html>
