<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      {% for mes in message %}
      <a href="{{mes}}"> Here </a><br>
      {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
  </body>
</html>
