<!DOCTYPE html>
<html>
  <head>
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    <form method="POST">
      <input type="password" name="password" placeholder = "Password">
      <input type="text" name="country" placeholder = "Nation of Origin">
      <input type="text" name="currency" placeholder = "Currency">
      
      <input type="checkbox" name="check" value="password">Update Password
      <input type="checkbox" name="check" value="country">Update Nationality
      <input type="checkbox" name="check" value="currency">Update Currency

      <button type="submit" name="b" value="Update">Update</button>
      <button type="submit" name="b" value="Back">Go Back</button>
    </form>
  </body>
</html>
